body {
  background: #F5F5F5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
.hero .hero__btn {
  text-decoration: none;
  padding: 8px 20px;
  border: 1px solid #F59C1F;
  border-radius: 24px;
  color: #F59C1F;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.art {
  width: 100%;
  text-align: center;
  height: 280px;
  margin-bottom: 16px;
}
.art .art__image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.boxOne {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(180, 178, 178, 0.25);
  width: 326px;
  margin: 0 auto;
  height: 121px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  margin-bottom: 16px;
}
.boxOne .boxOne__title {
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 8px;
  color: #F59C1F;
  text-align: left;
}
.boxOne .boxOne__body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #222222;
}
.boxOne .bonOne__body--regular {
  font-weight: 500;
}

.benefits {
  background: #ffffff;
  width: 100%;
  padding-top: 48px;
}
.benefits .benefits__title {
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 32px;
  color: #F59C1F;
  text-align: center;
}
.benefits .benefitsGrid {
  display: grid;
  justify-content: center;
  grid-template-columns: 270px;
  text-align: center;
}
.benefits .benefitsGrid .benefitsGrid__container {
  margin-bottom: 32px;
}
.benefits .benefitsGrid .benefitsGrid__container .benefitsGrid__title {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 4px;
  color: #222222;
  text-align: center;
}
.benefits .benefitsGrid .benefitsGrid__container .benefitsGrid__body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #767676;
  font-weight: 400;
  line-height: 20px;
}
.benefits .benefitsGrid .benefitsGrid__container:nth-child(3) {
  margin-bottom: 48px;
}

.stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #F59C1F;
  padding: 48px 0 48px 16px;
}
.stats .stats__title {
  font-size: 41px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
  color: #ffffff;
  text-align: left;
}
.stats .stats__subtitle {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 32px;
}
.stats .stats__subtitle:nth-child(6) {
  margin-bottom: 0;
}

.howWork {
  width: 100%;
  background: #ffffff;
  text-align: center;
  padding: 48px 0;
}
.howWork .howWork__image {
  margin-bottom: 24px;
}
.howWork .howWork__title {
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 24px;
  color: #F59C1F;
  text-align: center;
}
.howWork .howWork__body {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}
.howWork .howWork__body--regular {
  font-weight: 400;
  margin-bottom: 48px;
}
.howWork .howWork__advice {
  width: 328px;
  margin: 0 auto;
  border-radius: 12px;
  background: #F5F5F5;
  padding: 12px;
}
.howWork .howWork__advice .howWork__advicebody {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #767676;
}

.requirements {
  width: 100%;
  text-align: center;
  padding: 48px 0;
}
.requirements .requirements__heading {
  font-family: "Montserrat", sans-serif;
  color: #F59C1F;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 24px;
}
.requirements .requirements__container {
  width: 328px;
  height: 56px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 4px rgba(180, 178, 178, 0.25);
  margin: 0 auto;
  margin-bottom: 12px;
  display: flex;
  padding: 0px 16px;
  justify-content: space-between;
  align-items: center;
}
.requirements .requirements__container:nth-child(4) {
  margin-bottom: 0;
}
.requirements .requirements__container .requirements__title {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
  color: #222222;
  text-align: center;
}
.requirements .requirements__container .requirements__id, .requirements .requirements__container .requirements__bank, .requirements .requirements__container .requirements__store {
  font-size: 23px;
  color: #F59C1F;
}

.companies {
  width: 100%;
  background: #ffffff;
  padding: 48px 0px;
}
.companies .companies__heading {
  font-family: "Montserrat", sans-serif;
  color: #767676;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
}
.companies .companies__logos {
  width: 100%;
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 100px;
  gap: 4px;
}
.companies .companies__logos .companies__img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.companies .companies__logos .companies__image {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.clients {
  width: 100%;
  background: #F59C1F;
  padding: 48px 0;
}
.clients .clients__title {
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 24px;
  color: #ffffff;
  text-align: center;
}
.clients .client__video {
  width: 90%;
  margin: 0 auto;
}
.clients .client__testimonial {
  width: 100%;
  height: 100%;
}

.contact {
  width: 100%;
  background: #ffffff;
  padding: 32px 0;
  text-align: center;
}
.contact .contact__heading {
  font-family: "Montserrat", sans-serif;
  color: #767676;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 32px;
}
.contact .contact__whatsapp {
  padding-right: 8px;
  font-size: 20px;
}
.contact .contact__btn {
  background-color: #F5F5F5;
  color: #222222;
  width: 290px;
  display: inline-block;
  text-decoration: none;
  padding: 12px 0px;
  border: none;
  border-radius: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: background-color 0.3s ease;
  margin-bottom: 12px;
}
.contact .contact__btn:hover {
  background-color: gainsboro;
}

.divider {
  width: 100%;
  height: 1px;
  background: #EFEFEF;
}

.download {
  width: 100%;
  background: #ffffff;
  padding: 32px 0px;
  text-align: center;
}
.download .download__heading {
  font-family: "Montserrat", sans-serif;
  color: #767676;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 32px;
}
.download .download__btn {
  background-color: #F5F5F5;
  color: #222222;
  width: 290px;
  display: inline-block;
  text-decoration: none;
  padding: 12px 0px;
  border: none;
  border-radius: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: background-color 0.3s ease;
  margin-bottom: 12px;
}
.download .download__btn:hover {
  background-color: gainsboro;
}
.download .download__btn .download__google-play {
  padding-right: 8px;
  font-size: 20px;
}

.record {
  width: 100%;
  padding: 48px 0px;
  text-align: center;
}
.record .record__title {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 12px;
  color: #767676;
  text-align: center;
}

.footer {
  width: 100%;
  background: #ffffff;
  padding: 48px 0 28px 0;
  text-align: center;
}
.footer__headign {
  text-decoration: underline;
  font-size: 12px;
  color: #222222;
  font-family: "Montserrat", sans-serif;
}
.footer__direction {
  font-size: 12px;
  color: #222222;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  margin-top: 32px;
}

.footer__icons {
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
}
.footer__icons__rrss {
  display: flex;
  gap: 16px;
}

.rights__reserved {
  padding-top: 32px;
  text-align: center;
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

/*# sourceMappingURL=ui-kit.css.map */
