.footer {
    width: 100%;
    background: $white;
    padding: 48px 0 28px 0;
    text-align: center;
}

.footer__headign {
    text-decoration: underline;
    font-size: $body-tiny;
    color: $black-100;
    font-family: $primary-text;
}

.footer__direction {
    font-size: $body-tiny;
    color: $black-100;
    font-weight: 400;
    font-family: $primary-text;
    margin-top: $space-08;
}

.footer__icons {
    width: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
}

.footer__rrss {
    display: flex;
    gap: $space-04;
}

.rights__reserved {
    padding-top: $space-08;
    text-align: center;
    color: $black-100;
    font-family: $primary-text;
    font-size: $body-tiny;
    font-weight: 400;
}
